@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium web', sans-serif;
    background-color: #eee;
}   

*{
    box-sizing: border-box;
}

form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 700px;
    max-height: 900px;
    padding: 25px 40px;
}

form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    padding: 8px;
    font-family: 'Titillium web', sans-serif;
    background-color: #ddd;
    border:1px solid #ddd;
}

form span{
    color:#01959a;
}

form button{
    height: 35px;
    width: 80px;
    align-items: center;
    border: none;
    background-color: #01959a;
    color: #fff;
    cursor: pointer;
}