:root {
    font-family: 'Titillium web', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320;
    min-height: 100vh;
}