@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium web', sans-serif;
}
:root{
   --mainColor: #51af9d;
   --mainColorLight: #0a9077;
   --secondaryColor: #16e1bc;
   --textColor: #e2b3b3; 

}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 0 2rem;
    background-color: var(--mainColor) ;
    color: var(--textColor);
   
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}
header .nav-btn{
    padding: 5px;
    cursor: pointers;
    background: transparent;
    border: none;
    outline: none;
    color: var(--texrColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display:flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh)

    }
    header .responsive_nav{
        transform: none;

    }
}*/


.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
   box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-family: 'Titillium web', sans-serif;
    text-align: center;
    height: 90px;
    width: 95%;
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    background-color: #fff;

}

.navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.NavbarItems  a{
    text-decoration: none;
    color: #222;
    font-size:  1.2rem;
   font-weight: 530px;
   padding: 0.5rem 0.4rem;
   white-space: nowrap;
}

.NavbarItems a:hover {
   background-color:#01959a;
   color: #fff;
   border-radius: 4px;
   transition: all 0.2s ease-in-out;
  
}

button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 530;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #151516;
    color: #fff;
}
