@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium web', sans-serif;
}


.footer{
    padding: 4rem 6rem;
    background:#0a9077 ;
    color: #fff;
    
    }
.top{
display: flex;
align-items: center;
text-align: start;
justify-content: space-between;
flex-wrap: wrap;
}

.top i:hover{
    color:#01959a;
}


.bottom{
    padding-top: 2rem;
    text-align: starts;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }
   
   .bottom div{
       display: flex;
       flex-direction: column;
   }
   
   .bottom h4{
       font-size: 1.3rem;
   
   }
   
   .bottom a{
       text-decoration: none;
       color:#fff;
       padding-bottom: 0.4rem;
       font-size: 1.1rem;
   
   }
   @media screen  and(max-width:850){
       .footer{
           padding: 4rem 2rem;
       }
       
       .footer i{
        margin: 1rem 1rem 0 0;
   
       }
   
       .bottom div{
           width: 50%;
       }
   }*/



   /*.footer {
    padding: 4rem 4rem;
    background-color: #51af9d;
    display: flex;
    flex-direction: column;
    color: #e2b3b3;
   }
 
   .sec1{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
   }

   .sec1 p{
    text-align: right;
   }

   .sec2{
    width: 150px;
    /*margin: 1rem;*/
    /*height: 100px;
    left: 100px;*/
   /* display:flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #e2b3b3;
    font-size: 12px;
   /* line-height: 15px;*/
   /* cursor: pointer;
   }

   .sec2 a{
    color: rgb(175, 175, 179);
    text-decoration: none;
   }

   .sec3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.2rem;
   /* font-size: ;
    line-height: ;
    margin-left: ;
    color: ;
    font-weight: ;
   }*/
/*
   .footer{
    background-color: #51af9d;
    /*padding: 4rem 4rem;*/
   /* display: flex;
    flex-direction: column;*/
   /* font-family: 'Titillium web', sans-serif;
    color: #e2b3b3;
   }

   .sec1 {
    padding: 4rem 4rem;
   }

   .sec1 h1{
    padding: 40px 48px;
    font-size: 48px;
    display: flex;
    margin-left: 30px ;
    color: white; 
    font-weight: 15px;

   }

   .sec1 p{
    font-size: 18px;
    width: 25%;
    color: white;
    font-weight: 15px;
   } 

   .sec2{
    text-align: starts;
    /*display: flex;
    justify-content: space-between;*/
    /*flex-wrap: wrap;*/
   /* color:#fff;
   }

   .sec2 a{
   display:contents;
   color: white;
   font-size: 18px;
   line-height:35px;
   cursor: pointer;
   text-decoration: none;
   }


  /* @media screen  and(max-width:950){
    .footer{
        padding: 4rem 2rem;
    }
    
    .footer i{
     margin: 1rem 1rem 0 0;

    }

    .sec2 div{
        width: 50%;
    }
}*/

.footer{
  padding: 4rem 6rem;
  background: #000;
  color: #fff;  
  font-family: 'Titillium web', sans-serif;
}

.top{
    display: flex;
    align-items: center;
    text-align: start; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.top i{
    color:#fff;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover{
    color: #01959a;

}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
  display: flex;  
  flex-direction: column; 
}

.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}

.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 850px){
   .footer{
    padding: 4rem 2rem;
   } 

   .footer i{
    margin: 1rem 1rem 0 0; 
   }

   .bottom div{
    width: 50%;
    
   }
}